.courseItem {
  max-width: 300px;
  gap: 12px;

  //   for logo here
  a {
    position: relative;
    img {
      border-radius: 12px;
      height: 167px;
      width: 300px;
    }

    span {
      position: absolute;
      top: -5px;
      right: -8px;

      padding: 4px 0;
      width: 50px;
      text-align: center;

      border-radius: 18px;
      background: red;
      color: white;
      font-weight: 600;
      font-size: 12px;
    }
  }
  //   for content
  &_content {
    margin-left: 4px;
    gap: 6px;
    .title {
      // overflow: hidden;
      // text-overflow: ellipsis;
      &:hover {
        text-decoration: underline;
      }
      a {
        color: rgb(197, 58, 4);
        // word overflow eclipse
        white-space: nowrap;
      }
    }
    .quantity {
      gap: 10px;
    }
    .author {
      gap: 10px;
    }
    .rating {
      gap: 16px;
    }
    .price {
      gap: 12px;
      &-current {
        font-size: 14px;
        font-weight: bold;
        color: rgb(197, 58, 4);
      }
      &-original {
        align-items: center;

        font-size: 14px;
        text-decoration: line-through;
        color: rgb(182, 150, 150);
      }
    }
  }
}
