.courseItem {
  max-width: 300px;
  gap: 12px;

  //   for logo here
  a {
    position: relative;
    &:hover {
      .middle {
        opacity: 1;
      }
      img {
        opacity: 0.3;
      }
    }

    .middle {
      transition: 0.3s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;

      &:hover {
        opacity: 1;
      }

      .text {
        background-color: white;
        color: black;
        font-size: 14px;
        padding: 5px 15px;
        border-radius: 12px;
        font-weight: 700;
      }
    }

    img {
      border-radius: 12px;
      height: 150px;
      width: 280px;
      opacity: 1;
      display: block;
      transition: 0.3s ease;
      backface-visibility: hidden;
    }

    span {
      position: absolute;
      top: -5px;
      right: -8px;

      padding: 4px 0;
      width: 50px;
      text-align: center;

      border-radius: 18px;
      background: red;
      color: white;
      font-weight: 600;
      font-size: 12px;
    }
  }
  //   for content
  &_content {
    max-width: 250px;
    // margin-left: 4px;
    margin: 0 auto;
    gap: 6px;
    .title {
      font-size: 16px;
      &:hover {
        text-decoration: underline;
      }
      a {
        color: rgb(197, 58, 4);
        // word overflow eclipse
        white-space: nowrap;
      }
    }
    .ratingAndQuantity {
      .quantity {
        gap: 5px;
      }
    }
    .author {
      gap: 10px;
    }
    .price {
      display: flex;
      align-items: center;
      gap: 12px;
      &-current {
        font-size: 14px;
        font-weight: bold;
        color: rgb(197, 58, 4);
        font-size: 16px;
      }
      &-original {
        align-items: center;
        font-size: 14px;
        text-decoration: line-through;
        color: rgb(182, 150, 150);
        margin-left: auto;
      }
    }
  }
}
