.courses {
  .headingTitle {
    margin: 0 auto;
  }
  .courseList {
    flex-wrap: wrap;
    gap: 35px;
  }
  .showMoreBtn {
    gap: 20px;
    hr {
      width: 42%;
      border: #f05123 0.5px solid;
      background-color: #f05123;
      @media (max-width: 768px) {
        display: none;
      }
    }
    button {
      padding: 6px 18px;
      background: #f05123;
      color: white;
      border-radius: 100rem;
      cursor: pointer;
      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }
}
