.courses {
  .title {
    h2 {
    }
    span {
      color: red;
      cursor: pointer;
      font: 500;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .courseList {
    flex-wrap: wrap;
  }
}
