#contact {
  font-family: "montserrat";
}

.contact {
  // title

  .title {
    text-align: center;

    span {
      color: red;
    }
  }
  // info contact
  &-items {
    max-width: 1200px;
    flex-wrap: wrap;
    gap: 80px;
  }
}
