// for navbar header
.navbar {
  padding: 0 32px;

  background: #fff !important;
  box-shadow: 0 4px 12px 0;

  display: flex;
  justify-content: space-between;
}
.navbarHeader {
  display: flex;
  justify-content: space-between;
}
// for navbar logo Hoang Toeic
.navbarLogo {
  font-family: serif;
  font-weight: 900;
  color: #2d01f0;
}
// for links navbar
.menuNav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.menuNav a {
  font-size: 16px;
  color: black !important;
  font-weight: 600;
}
.menuNav a.active {
  padding: 6px 18px;
  background: #f1efef;
  border-radius: 100rem;
}

.menuNav .btn {
  padding: 6px 24px;
  background: #f05123;
  color: white !important;
  border-radius: 100rem;
}
