// for navbar header
.navbar {
  font-family: "montserrat";
  background: #fff !important;
}
// .navbarHeader {
//   display: flex;
//   justify-content: space-between;
// }

// for navbar logo Hoang Toeic
.navbarLogo {
  // font-weight: 900;
  color: #2d01f0;
  cursor: pointer;
}
// for links navbar
.menuNav {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  gap: 20px;
}
.menuNav a {
  font-size: 14px;
  color: black;
  font-weight: 600;
}
.menuNav a.active {
  padding: 6px 14px;
  background: #f1efef;
  border-radius: 100rem;
}

.menuNav .btn {
  padding: 6px 18px;
  background: #f05123;
  color: white;
  border-radius: 100rem;
}
