@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Poppins:wght@200;300&display=swap");
@import "react-slideshow-image/dist/styles.css";

//Initial main css
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  font-size: 16px;

  &:visited {
    color: rgb(0, 0, 238);
  }
}
a:focus,
a:hover,
a:visited {
  text-decoration: none;
  outline: none;
}
b,
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 600;
}

//Scrollbar css
/* width */
::-webkit-scrollbar {
  height: 7px;
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

//Header css
.contentTextDesktop {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.contentTextMobile {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

//Slideshow css
.slide-container {
  padding: 10px 0 0 21px;
  .react-slideshow-container {
    width: 95%;
    margin: 0 auto;
    button[data-type="prev"] {
      margin-right: -40px;
    }
    button[data-type="next"] {
      margin-left: -40px;
    }
    svg {
      width: 17px;
      height: 17px;
    }
  }
}

//Contact css
#contact {
  .contact {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    .section-title {
      font-size: 2rem;
      font-weight: 400;
      color: black;
      margin-bottom: 5px;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      text-align: center;
      span {
        color: crimson;
      }
    }
    .contact-items {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      width: 100%;
      @media screen and (max-width: 800px) {
        flex-direction: column;
      }
      .contact-item {
        height: 250px;
        flex-basis: calc(100% / 5);
        max-width: 300px;
        text-align: center;
        border-radius: 10px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 18px 0 #0000002c;
        transition: 0.3s ease box-shadow;
        overflow: hidden;
        @media screen and (max-width: 800px) {
          width: 80%;
        }
        &:hover {
          box-shadow: 0px 0px 5px 0 #0000002c;
        }
        .icon {
          width: 100%;
          margin: 0 auto;
        }
        .contact-info {
          h1 {
            font-size: 2rem;
            font-weight: 500;
            margin-bottom: 5px;
          }
          h2 {
            font-size: 1rem;
            line-height: 2rem;
            font-weight: 400;
          }
        }
      }
    }
  }
}

//Course in main page css
#Course {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  padding: 0 20px;
  margin-bottom: 30px;
  svg:not(:root).svg-inline--fa {
    overflow: visible;
  }
  .svg-inline--fa.fa-w-10 {
    width: 0.625em;
  }
  .svg-inline--fa.fa-w-20 {
    width: 1.25em;
  }
  .Above {
    .SectionList_headingWrap {
      display: flex;
      align-items: baseline;
      .SectionList_heading {
        color: #000;
        font-size: 2.2rem;
        font-weight: 900;
        margin-right: auto;
        margin-top: 16px;
        @media screen and (max-width: 800px) {
          font-size: 1.5rem;
        }
      }
      .SectionList_viewAll {
        font-size: 1.015rem;
        font-weight: 600;
        color: #f05123;
        background-color: transparent;
        user-select: none;
        cursor: pointer;
        padding: 8px 0 8px 8px;
        margin-right: 4px;
        svg {
          font-size: 1rem;
          margin-left: 4px;
          position: relative;
          transition: 0.3s ease;
        }
        &:visited {
          color: #f05123;
        }
        &:hover {
          text-decoration: underline;
          svg {
            transform: translateX(4px);
          }
        }
      }
    }
  }
  .Under {
    overflow-x: scroll;
    .SectionList_body {
      display: flex;
      min-height: 200px;
      padding-bottom: 10px;
      .Home_courseItem {
        flex-shrink: 0;
        margin-right: 24px;
        .CourseItem_wrapper {
          width: 320px;
          overflow: hidden;
          a {
            .CourseItem_thumb {
              width: 100%;
              padding-top: 56%;
              object-fit: cover;
              border-radius: 16px;
              background-size: cover;
              background-repeat: no-repeat;
              background-position: 50%;
              background-color: rgba(0, 0, 0, 0.1);
            }
          }
          .CourseItem_title {
            a {
              color: #292929;
              font-size: 1rem;
              padding-left: 10px;
              line-height: 1.8;
              overflow: hidden;
              word-wrap: break-word;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 1;
            }
          }
          div {
            .CourseItem_studentsCount {
              color: #666;
              padding-left: 10px;
              font-size: 1rem;
              span {
                margin-left: 8px;
              }
            }
          }
        }
      }
    }
  }
}

//Courses Page
a {
  background-color: transparent;
}
.Courses_wrapper {
  font-family: "Montserrat";
  flex: 1 1;
  max-width: 100%;
  max-width: calc(100% - 96px);
  padding: 0 40px 0 20px;
  .p0_m0auto {
    padding: 0;
    margin: 0 auto;
  }
  .w100 {
    width: 100%;
    .Courses_container {
      padding: 8px 44px 0;
      .Courses_container-top {
        margin-bottom: 30px;
        .Courses_heading {
          font-weight: 900;
          font-size: 2rem;
          color: #242424;
        }
        .Markdown_wrapper {
          color: #292929;
          word-wrap: break-word;
          line-height: 1.6;
          font-size: 1.4rem;
        }
        .Courses_desc {
          max-width: 840px;
        }
      }
      .container-body {
        .ScrollList_vertical {
          div {
            .ScrollList_heading-wrap {
              display: flex;
              align-items: baseline;
              .ScrollList_heading {
                margin-right: auto;
                margin-top: 16px;
                color: #242424;
                font-size: 1.8rem;
                font-weight: 500;
              }
            }
          }
          .ScrollList_body {
            min-height: 200px;
            padding-bottom: 0;
            .section_row {
              @media (min-width: 1113px) {
                margin-left: -12px;
                margin-right: -12px;
              }
              @media (min-width: 740px) {
                margin-left: -8px;
                margin-right: -8px;
              }
              display: flex;
              flex-wrap: wrap;
              margin-left: -4px;
              margin-right: -4px;
              .section_l-3 {
                @media (min-width: 1113px) {
                  width: 22%;
                }
              }
              .section_col {
                @media (min-width: 1113px) {
                  padding-left: 12px;
                  padding-right: 12px;
                }
                .CommonItem_wrapper {
                  flex-shrink: 0;
                  overflow: hidden;
                  .CommonItem_thumb {
                    display: block;
                    width: 100%;
                    padding-top: 56.25%;
                    object-fit: cover;
                    border-radius: 16px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: 50%;
                    background-color: rgba(0, 0, 0, 0.1);
                    position: relative;
                    overflow: hidden;
                    &:after {
                      content: "";
                      position: absolute;
                      inset: 0;
                      opacity: 0;
                      visibility: hidden;
                      transition: all 0.3s ease 0s;
                      background-color: rgba(0, 0, 0, 0.5);
                    }
                    &:hover {
                      .CommonItem_cta-btn,
                      &:after {
                        opacity: 1;
                        visibility: visible;
                      }
                    }
                    .Button_btn {
                      display: inline-block;
                      appearance: none;
                      border-radius: 999px;
                      padding: 9px 16px;
                      font-size: 1.4rem;
                      font-weight: 600;
                      transition: 0.3s ease;
                      white-space: nowrap;
                      outline: none;
                      user-select: none;
                      text-align: center;
                    }
                    .CommonItem_cta-btn {
                      position: absolute;
                      top: 50%;
                      left: 50%;
                      z-index: 1;
                      transform: translate(-50%, -50%);
                      transition: all 0.3s ease 0s;
                      color: #000;
                      background-color: #fff;
                      border-color: #fff;
                      opacity: 0;
                      cursor: pointer;
                      visibility: hidden;
                      font-size: 15px;
                    }
                    button {
                      border: none;
                      outline: none;
                      box-shadow: none;
                      display: block;
                      padding: 0;
                    }
                  }
                  .CommonItem_title {
                    a {
                      color: #292929;
                      margin-left: 8px;
                      font-size: 1.2rem;
                      line-height: 1.4;
                      overflow: hidden;
                      word-wrap: break-word;
                      display: -webkit-box;
                      -webkit-box-orient: vertical;
                      -webkit-line-clamp: 1;
                    }
                  }
                  .CourseItem_students-count {
                    display: flex;
                    align-items: center;
                    color: #666;
                    font-size: 1.1rem;
                    margin-left: 8px;
                    gap: 7px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/* svg:not(:root).svg-inline--fa,
svg:not(:host).svg-inline--fa {
  overflow: visible;
  box-sizing: content-box;
}
.svg-inline--fa {
  display: var(--fa-display, inline-block);
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
} */
