@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@import "react-slideshow-image/dist/styles.css";

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

.contentTextDesktop {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.contentTextMobile {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

//css style here
a {
  text-decoration: none;
  font-size: 16px;
}

//style cho phần slide
.slide-container {
  padding: 10px 10px 0;

  .react-slideshow-container {
    width: 95%;
    margin: 0 auto;

    button[data-type="prev"] {
      margin-right: -40px;
    }
    button[data-type="next"] {
      margin-left: -40px;
    }

    svg {
      width: 17px;
      height: 17px;
    }
  }
}

//style cho contact
#contact {
  margin-bottom: 30px;

  .contact {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;

    .section-title {
      font-size: 2rem;
      font-weight: 400;
      color: black;
      margin-bottom: 5px;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      text-align: center;

      span {
        color: crimson;
      }
    }

    .contact-items {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      width: 100%;
      padding: 0 20px;

      @media screen and (max-width: 800px) {
        flex-direction: column;
        // gap: 20px;
      }

      .contact-item {
        height: 250px;
        flex-basis: calc(100% / 5);
        max-width: 300px;
        text-align: center;
        border-radius: 10px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 18px 0 #0000002c;
        transition: 0.3s ease box-shadow;
        overflow: hidden;

        @media screen and (max-width: 800px) {
          width: 80%;
        }

        &:hover {
          box-shadow: 0px 0px 5px 0 #0000002c;
        }

        .icon {
          width: 100%;
          margin: 0 auto;
        }
        .contact-info {
          h1 {
            font-size: 2rem;
            font-weight: 500;
            margin-bottom: 5px;
          }
          h2 {
            font-size: 1rem;
            line-height: 2rem;
            font-weight: 400;
          }
        }
      }
    }
  }
}
